article header.article-meta{
    background-color: #A5A69D;
    background-image: url(cover_2000.gif);
    background-size: 1000px;
    background-position: 30% 0;
    height: 100%;
    min-height: 1000px;
    color: white;
    text-shadow: 0 0 10px black;
    padding-top: 650px;
}

.image-left-rescaler{
    float: left;
    margin-left: -200px;
    padding-left: 20px;
    width: 300px;
    margin-right: 20px;
}

.image-right-rescaler{
    float: right;
    margin-right: -200px;
    padding-right: 20px;
    width: 300px;
    margin-left: 20px;
}