article header.article-meta{
    background-color: #E7DAD4;
    color: white;
    text-shadow: 0 0 10px black;
    padding-top: 0;
    padding-bottom: 0;
}

video {
  height: auto;
  vertical-align: middle;
  width: 100%;
  filter: blur(0px);
}
.overlay-desc {
  background: rgba(0,0,0,0);
  position: relative;
  top: 0; right: 0; bottom: 40px; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  main article header.article-meta>.photo-byline {
    bottom: -4em;
    font-size: .5em;
  }
  article header .headline h3 {
    font-size: .8em;
  }
}

.headline {
  position: absolute;
  bottom: 0;
  display: flex;
}

.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}