article header.article-meta{
    background-color: #E7DAD4;
    color: white;
    text-shadow: 0 0 10px black;
    padding-top: 0;
    padding-bottom: 0;
}

video {
  height: auto;
  vertical-align: middle;
  width: 100%;
  filter: blur(0px);
}
.overlay-desc {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 20; right: 0; bottom: 0; left: 0;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}