article header.article-meta{
    background-color: black;
    color: white;
    background-size: cover;
    min-height: 1000px;
    text-shadow: 0 0 10px black;
    padding-top: 0;
    padding-bottom: 0;
}

video {
  height: auto;
  vertical-align: middle;
  width: 100%;
  filter: blur(0px);
  margin-top: 70px;
}
.overlay-desc {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 40px; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headline {
  position: relative;
  top: 300px;
}

.rules {
	border-bottom: 3px solid red;
	border-top: 3px solid red;
	background-color: rgba(255,0,0, .5);
	margin-left: auto;
	margin-right: auto;
}

.rulesblue {
	border-bottom: 3px solid rgba(169, 199, 230,1);
	border-top: 3px solid rgba(169, 199, 230,1);
	background-color: rgba(169, 199, 230,.5);
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 500px) {
  article header.article-meta{
    background-color: black;
    background-size: cover;
    background-position: 30% 0;
    height: 100%;
    min-height: 600px;
    color: white;
    text-shadow: 0 0 10px black;
  }
  video {
    position: relative;
    margin-top: 50px;
  }
  main article header.article-meta>.photo-byline {
    bottom: -4em;
  }
  .headline {
    position: relative;
    top: 70px;
  }
}


.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}
