article header.article-meta{
    background-color: #A5A69D;
    background-image: url(cover_2000.gif);
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 1000px;
    color: white;
    text-shadow: 0 0 10px black;
    padding-top: 650px;
}




.sidebarer-left, .sidebarer-right {
    width: 300px;
}

.sidebarer-right-blue{
    float: right;
    width: 300px;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 3px solid rgba(169, 199, 230,1);
    margin-right: -100px;
}

.sidebarer-right-red{
    float: right;
    width: 300px;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 3px solid red;
    margin-right: -100px;
}


.sidebarer-left-blue{
    float: left;
    width: 300px;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
    border-left: 3px solid rgba(169, 199, 230,1);
    margin-left: -100px;
}

.sidebarer-left-red{
    float: left;
    width: 300px;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
    border-left: 3px solid red;
    margin-left: -100px;
}




.flex-photoleft {
    display: flex;
    flex-direction: row;
}


.flexright {
    display: flex;
    flex-direction: column;
    /*justify-content: flex-end;*/
}