article header.article-meta{
    background-color: #A5A69D;
    background-image: url(cover_2000.gif);
    background-size: 100%;
    background-position: 30% 0;
    height: 100%;
    color: white;
    text-shadow: 0 0 10px black;
    padding-top: 400px;
}